<h1>Welcome to bechoo.com, <%= @user.name %></h1>
<p>
  Thank You for applying on bechoo.com.
  Your account will be created soon.
  <!-- your username is: <%= @user.username %>.<br> -->
</p>
<p>Thanks for joining and have a great day!</p>
