<h1>Welcome to bechoo.com, <%= @user.name %></h1>
<p>
  You have successfully signed up to bechoo.com,
  your username is: <%= @user.username %>.<br>
</p>
<p>Thanks for joining and have a great day!</p>
