default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: 
  password: 
  host: localhost

development:
  <<: *default
  database: bechoo_development

test:
  <<: *default
  database: bechoo_test

# As with config/secrets.yml, you never want to store sensitive information,

production:
  <<: *default
  database: bechoo_production
  username: bechoo
  password: <%= ENV['BECHOO_DATABASE_PASSWORD'] %>
