# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: c611df5e6fe76c8e20029004f7a3a2f709dfadb05f01ea2d9c5c948bdc792cb385feb997f9f16c75ea8b966a978db08e3c7b322f75ff88bd0ee9184b04d1c941

test:
  secret_key_base: 2125d0a31e63b553a74ff285edfb2bd5eb9b11eec7f64b9ce0e4869587bbc105d5367f392b6ff3abead702d88384f19ba55d2d3e0b99601553086b4cf5bff00b

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
