// Place all the styles related to the Advertisements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_filters
{
  text-align: center;
  background-color: #f8f8f8;
  margin: 30px 0px;
  border: 1px solid black;
  border-radius: 3px;
  h4 {
    text-align: left;
    padding: 0px 15px;
  }
  select
  {
    background-color: #dcdcdc;
    padding: 6px;
    border-radius: 3px;
    margin: 10px 0px;
    width: 90%;
  }
  button
  {
    margin: 5px;
    width: 90%;
    border-radius: 0px;

  }
}

.container
{
  .search_bar
  {
    text-align: center;
    background-color: #f8f8f8;
    padding: 15px 0px;
    margin: auto 15px;
    border: 1px solid black;

    input
    {
      border: 1px solid black;
      border-radius: 3px;
      margin: auto 10px;
      padding: 5px;
      background-color: #dcdcdc;
    }
    select
    {
      background-color: #dcdcdc;
      padding: 6px;
      border-radius: 3px;
      margin: auto 10px;
      width: 100px;
    }
    button
    {
      // background-color: black;
    }
  }
  p {
    margin: 15px;
  }
  .row
  {
    .advert-columns
    {
      margin: 15px 0px;
      .advert
      {
        border: 1px solid black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #f0f0f0;
        .image-space
        {
          margin: 15px 15px 0px;
          border: 1px solid #dcdcdc;
          text-align: center;
          img {
            width: 100%;
          }
        }
        .content-space
        {
          margin: 15px;
          h3
          {
            margin: 0px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          p
          {
              margin: 0px;
          }
        }
        a
        {
          border-radius: 0px;
          border: 0px;
          display: inline-block;
          width: 100%;
        }
        h4
        {
          margin: 0px;
        }
      }
    }
  }
}
