/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require advertisements
 *= require comments
 *= require categories
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body
{
  min-height: 700px;
  background-color: #dcdcdc;
}

.row
{
  margin-top: 15px;
  margin-bottom: 15px;
}
.notice {
  background-color: #000;
  .notice-display
  {
    color: #f8f8f8;
    margin-bottom: 0;
  }
}

.brand{
  h1{
    color: black;
    text-align: center;
    font-family: 'Rancho';
    font-weight: bold;
  }
  h1, a:hover{
    text-decoration: none;
  }
}

.menu_box
{
  background-color: black;
  font-family: 'Neucha';
  div
  {
    float: right;
    h3
    {
      color: #f8f8f8;
      font-size: 20px;
      display: inline-block;
    }
    h3:hover
    {
      cursor: pointer;
    }
    a
    {
      color: #f8f8f8;
      margin: auto 15px;
    }
    a:hover
    {
      text-decoration: none;
    }
    .dropdown-menu
    {
      left: 120px;
      li
      {
        a
        {
          margin: 0px;
          color: black;
        }
        a:hover
        {
          background-color: black;
          color: white;
        }
      }
    }
  }
}
.image_display {
  margin-top: 20px;
  text-align: center;
  .image_display_pane
  {
    padding: 15px;
    border: 1px solid #f8f8f8;
    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 5px;
    }
  }
  .image_thumb {
    border: 1px solid #f8f8f8;
    position: relative;
    padding: 10px;
    img {
      text-align: center;
      border-radius: 5px;
      max-width: 100%;
      height: 50px;
    }
  }
}
.btn
{
  border: 1px solid black;
  color: black;
}
.btn:hover {
  border: 1px solid #f8f8f8;
}
.display_box
{
  padding-bottom: 20px;
  a {
    border: 1px solid black;
    color: black;
  }
  a:hover {
    border: 1px solid #f8f8f8;
  }
}

.form_box
{
  form
  {
    div
    {
      div
      {
        // .btn
        // {
        //   background-color: #000;
        //   color: #f8f8f8;
        // }
        input
        {
          // background-color: #f8f8f8;
        }
        select
        {
          height: 34px;
          background-color: #f8f8f8;
          height: 34px;
        }
        #advertisement_image
        {
          margin-top: 9px;
          background-color: #f8f8f8;
        }
      }
    }
  }
}
.chat
{
  margin: 15px auto;
  a
  {
    margin: 15px;
  }
  .message-body
  {
    margin: 15px;
    .message-display
    {
      margin: 10px 0px;
      display: block;
      width: 100%;
      overflow: hidden;
      border: 1px solid black;
      border-radius: 5px;
      background-color: #f8f8f8;
      .message-item-right
      {
        padding: 10px;
        float: right;
        clear: both;
        display: block;
        .message-content
        {
          float: right;
        }
      }
      .message-item-left
      {
        padding: 10px;
        clear: both;
        display: block;
        background-color: #cdcdcd;
      }
      .message-header
      {
        text-decoration: underline;
      }
    }
  }
}
.reply-form
{
  margin: 15px;
}

.conversations
{
  border: 1px solid #f8f8f8;
  margin-top: 30px;
  h3
  {
    margin-top: 0px;
  }
}
